<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sign.css">
    <link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sign Up</title>
</head>
<body>
    <button id="btnLogin">Login</button>
    <div class="container">
        <h1>Sign Up</h1>
        <form class="sign" id="signForm">
            <i class="fa fa-user icon"></i>
            <input type="text" name="username" placeholder="Username" size="30" required><br>
            <i class="fa fa-envelope icon"></i>
            <input type="text" name="email" placeholder="Email" size="30" required><br>
            <i class="fa fa-lock icon"></i>
            <input type="text" name="password" placeholder="Password" size="30" required><br>
            <button class="btnSign" type="submit">Register</button>
        </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="sign.js"></script>
</body>
</html>

<!-- //login -->