<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lead.css">
    <title>Leaderboard</title>
</head>
<body>
    <h1>LeaderBoard</h1>
    <button id="expenses">Expenses</button>
    <div class="head">
        <h2>Name</h2>
        <h2 class="amountH">Amount</h2>
    </div>
    <div id="dataShow">
        
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="lead.js"></script>

</body>
</html>